.Coupons {
  text-align: center;
}

.Coupons .Filters {
    width: 50%;
    text-align: center;
    padding: 10px;
    background-color: #3e86ca;
    margin-bottom: 10px;
    margin: auto;
    border-radius: 15px;
    border: solid 3px purple;
}

.Filters .MuiButtonBase-root{
    margin: 5px;
}

.RadioGroup {
    display: flex;
    justify-content: center;
}

.CouponCard {
    width: 20%;
    margin: 15px;
}


.Slider{
    width: 20%;
}
.Coupons .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.Coupons .MuiButtonBase-root{
  margin: 3px;
}