.Layout {
	display: grid;
    height: 100%;
    grid-template-rows: 11% 5% 80% 4%;
}

.Layout>main{
    padding: 30px;
    overflow: auto;
}


.Toastify__toast-theme--light.Toastify__toast--error {
    background-color: rgb(238, 112, 112);
    color: white;
}
.Toastify__toast-theme--light.Toastify__toast--success{
    background-color: lightgreen;
    color: white;
}
