/* .AdminNavBar {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 15px 5px;
    border: solid rgb(26, 26, 223) 1px;
    font-style: italic;
    background-color: lightgray;
}

.AdminNavBar>a {
    text-decoration: none;
    color: purple;
}

.AdminNavBar>a:hover {
    border: 1px rgb(14, 151, 243) solid;
    color: rgb(55, 128, 177)
} */