.Companies {
    text-align: center;
    margin: 5px;
}

.Companies .CompanyCard {
    width: 22%;
    margin: 15px;
}


.MuiButton-root {
    display: flex;
    justify-content: center;
}

.MuiButtonBase-root {
    display: flex;
    justify-content: center;
}

.Companies .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
