.MyDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.MyDetails .MuiCard-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e5bc073;
    max-width: 400px;
    max-height: 300px;
    margin: 10px;
    border-radius: 15px;
    border: solid 2px rgb(112, 105, 214);
    text-align: center;
    padding: 20px; 
}

.MyDetails .CardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MyDetails .CardContent > * {
    margin-bottom: 10px; 
}
